{% extends 'base.html.twig' %}

{% block title %}Reprise de leasing // Modifier mon mot de passe{% endblock %}

{% block content %}

	<div class="slider_area_account">
			<div class="single_slider_account  d-flex align-items-center justify-content-center slider_bg__account">
				<div class="container">
					<div class="row">
						<div class="col-xl-12">
							<div class="slider_text_account text-center">
								<h3>Mon compte</h3>
								<h4>Modifier mon mot de passe</h4>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	{{ form(form) }}

	<a href=" {{ path ('app_account', {'id': app.user.id}) }}">Revenir dans mon compte</a>

{% endblock %}