.slider_bg_account {
    background-image: url(../../../image/home/bandeauHomePage1.jpg);
  }

  .slider_area_account .single_slider_account {
    height: 70vh;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .slider_area_account .single_slider_account .slider_text_account h3 {
    color: #ff4400;
    font-family: "Raleway", sans-serif;
    font-size: 100px;
    text-transform: capitalize;
    letter-spacing: 2px;
    font-weight: 400;
    margin-bottom: 4px;
  }
  @media (max-width: 767px) {
    .slider_area_account .single_slider_account .slider_text_account h3 {
      font-size: 33px;
      letter-spacing: 3px;
    }
  }
  @media (min-width: 768px) and (max-width: 991px) {
    .slider_area_account .single_slider_account .slider_text_account h3 {
      font-size: 30px;
    }
  }
  @media (min-width: 992px) and (max-width: 1200px) {
    .slider_area_account .single_slider_account .slider_text_account h3 {
      font-size: 35px;
      letter-spacing: 3px;
    }
  }
  .slider_area_account .single_slider_account .slider_text_account p {
    font-size: 24px;
    font-weight: 400;
    color: #ffffff;
    margin-bottom: 0;
    margin-top: 0;
  }
  @media (min-width: 992px) and (max-width: 1200px) {
    .slider_area_account .single_slider_account .slider_text_account p {
      font-size: 16px;
    }
  }
  @media (max-width: 767px) {
    .slider_area_account .single_slider_account .slider_text_account p {
      font-size: 16px;
    }
  }